*{
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4862344;
  }

  /*animation*/
.animationcCell{
  position: absolute;
  top: 900px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-color: #3de1ecb7;
  animation: aniWay ease-in 1s infinite;
}

  .startGame{
    display: flex;
    padding: 5px 10px;
    border: 2px solid #41c2a2a8;
  }

  button{
    background-color: #b6781a;
    border-radius: 5px;
    outline: none;
  }


  .gameBox {
    margin-top: 30px;
    border:1px solid black;
    border-radius: 10px;
    display: flex;
    background: linear-gradient(to right, #2e0006, #c20121);
    box-shadow: 0 0 3px #27231e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid {
    background-color: #57030a44;
    margin-top: 15px;
    position: relative;
    box-shadow: 0 0 5px #57030a44;
  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 3px;
    background-color: #fae18f;
    box-shadow: 0 0 3px #27231e;
    position: absolute;
    transition: all 0.3s;
  }
  .cell:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }

  .nullCell{
    opacity: 0;
  }

  .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .navItem{
    margin-right: 10px;
  }
  select{
    background-color: #d8d4d0;
    border-radius: 3px;
  }

  .btnVol{
    width: 19px;
    height: 19px;
    background-image: url(../assets/images/musical-note.png);
  }

  .btnVol:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }

  .startGame:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }

  select:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }

  .reset:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }
  .showWinList:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }

  /*...................список победителей..................*/
  .winnersBox{
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(248, 140, 38, 0.788);
    border-radius: 10px;
    background-color: #fff5d3;
    box-shadow: 0 0 3px #27231e;
  }
  .winnersBox div{
    margin-bottom: 5px;
  }
  div .titleList {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
  }
  .closeWinnerButton{
    box-shadow: 0 0 1px #27231e;
    margin-top: 15px;
  }
  .closeWinnerButton:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }


  /* ANIMATION */
  @keyframes aniWay{
    50%{
      border-radius: 30%;
    }
    100%{
      top: -60px;
      transform: rotate(740deg);
    }
  }

  /*---------------media-----------*/
  @media (max-width: 530px) {
    .animationcCell{
      display: none;
    }
  }
