*{
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4862344;
  }

  .startGame{
    display: flex;
    padding: 5px 10px;
    border: 2px solid #41c2a2a8;
  }

  button {
    padding: 2px;
    background-color: #b6781a;
    border-radius: 5px;
    border: none;
  }

  .gameBox {
    margin-top: 30px;
    border:1px solid black;
    border-radius: 10px;
    display: flex;
    background: linear-gradient(to right, #2e0006, #c20121);
    box-shadow: 0 0 3px #27231e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid {
    background-color: #57030a44;
    margin-top: 15px;
    position: relative;
    box-shadow: 0 0 5px #57030a44;
  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 3px;
    background-color: #fae18f;
    box-shadow: 0 0 3px #27231e;
    position: absolute;
    transition: all 0.3s;
  }

  .cell:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }

  .nullCell{
    opacity: 0;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .navItem {
    margin-right: 10px;
  }

  .move {
    width: 100px;
    text-align: center;
  }

  .btnVol{
    width: 19px;
    height: 19px;
    background-image: url(../assets/images/musical-note.png) ;
    background-size: cover;
  }

  .btnVol:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }

  .startGame:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }

  .reset:hover{
    cursor: pointer;
    background-color: #41c2a2a8;
  }
